<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Connect</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->

  <!-- =======================================================
  * Template Name: Techie - v4.6.0
  * Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="index.html">Connect ⌘</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Communities</a></li>
          <li><a class="nav-link scrollto " href="#inspire">Inspiration</a></li>
          <li><a class="nav-link scrollto" href="#flashcards">Connect</a></li>
          <li><a class="nav-link scrollto" href="#twilio">Twilio Messaging</a></li>
          <li><a class="nav-link scrollto" href="#FAQ">FAQ</a></li>
          <li><a class="nav-link scrollto" href="#Reg">Pairing Registration</a></li>
  
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= landing Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Opportunities for minorities in Tech</h1>
          <h2>Connecting professionals to female and non-binary mentees to bridge the gender gap in tech.One stop solution to all the challenges organisations who support this idea are facing.</h2>
          <div><a href="#about" class="btn-get-started scrollto">Get Started</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="static/assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>The Challenge in Tech</h3>
            <p class="fst-italic">
            Despite national conversations about gender diversity in tech, women and non-binary are still underrepresented, underpaid, and often discriminated against in the tech industry, numbers show. This is true for BIPOC aswell.
            There are many organisations aiming to bridge the gender gap but organising mentorship opportunities but they all said connectivity and automation was an barrier for optimised mentorship
            </p>
            <h5>What our application provides?</h5>
            <ul>
              <li><i class="bi bi-check-circle"></i> Twilio powered easy communication without need to share personal details</li>
              <li><i class="bi bi-check-circle"></i>Algorithm for automated pairing of mentors and mentees</li>
              <li><i class="bi bi-check-circle"></i>Opportunities for marginalised genders</li>
              <li><i class="bi bi-check-circle"></i>Profile Flashcards to connect to any mentor/mentee for support</li>
            </ul>
            <a href="#FAQ" class="read-more">Read More <i class="bi bi-long-arrow-right"></i></a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="28" data-purecounter-duration="1" class="purecounter"></span>
            <p>Women in Tech Workforce(%)</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="5.3" data-purecounter-duration="1" class="purecounter"></span>
            <p>Female Developers(%)</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
            <p>Organisations struggling with automated pairing system</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
            <p>BIPOC in tech(%)</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Communities Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Communities and Opportunities</h2>
          <p>Don't miss out on any opportunity,we have partnered with multiple organisations who support under represented groups and marginalised genders.We got it all in one place. This page keeps on updating according to the new opportunities available</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <input type="image" src="static/images/mlh.jpg" alt="MLH">  
              </div>
              <br><br><br>
              <h4><a href="https://mlh.io/">Hackathons</a></h4>
              <p>We have an array of hackathons compiled. Every Weekend MLH organises hackathons but do you know they have alot of gender focused hackathons in stores aswell. Check out their website for registering in Hack Violet, Hack Girl Summer 2.0 etc </p>
      
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <input type="image" src="static/images/CT.jpg" alt="CT">  
              </div>
              <br>
              <br>
              <br>
              <h4><a href="https://commandtech.dev/">Command Tech</a></h4>
              <p>Provides Excellent mentorship cycles.Not enough gender minorities are going into technology, Command Tech is here to change that. ⌘ Connect Mentorship Program · Command Tech Clubs.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <input type="image" src="static/images/girlswhocode.jpg" alt="CT">
              </div>
              <br>
              <br>
              <br>
              <h4><a href="https://girlswhocode.com/">Girls Who Code Club</a></h4>
              <p>Girls Who Code is a nonprofit organization which aims to support and increase the number of women in computer science by equipping young women with the necessary computing skills to pursue 21st century opportunities.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon">
                <input type="image" src="static/images/adobe.jpg" alt="Adobe Scholarship">
              </div>
              <br>
              <br>
              <h4><a href="https://research.adobe.com/adobe-india-women-in-technology-scholarship/">Adobe Women In Tech Scholarship</a></h4>
              <p>Through the Adobe India Women-in-Technology Scholarship, we are striving towards creating gender equality in science, technology and engineering domains by encouraging women to showcase their excellence in computing and technology and become future leaders and role models in the field.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
              <div class="icon">
                <input type="image" src="static/images/imagilabs.jpg" alt="Adobe Scholarship"> 
              </div>
              <br>
              <br>
              <h4><a href="https://imagilabs.com/">ImagiLabs</a></h4>
              <p>Programming has never been this much fun! Learn to create with code, share your designs with friends on the imagiLabs app and customize your imagiCharm. Here you can learn from a girls in tech community just like you and have some fun with an amazing tool</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <input type="image" src="static/images/ibm.jpg" alt="Adobe Scholarship">
              </div>
              <br>
              <br>
              <br>
              <h4><a href="https://www.ibm.org/initiatives/stemforgirls">IBM Girls in STEM</a></h4>
              <p>An initiative by IBM in India to improve education and career pathways for girls in schools.Committing to impact 200,000 girls across India. These bright girls have big aspirations. They want to build careers in science and technology. They want to build their own identity and certainly have the will power to make it happen. Watch how IBM is helping shape their dreams into reality.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Inspiration Section ======= -->
    <section id="inspire" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Inspiration Corner</h2>
          <p>Let's get inspired by women in technology and learn from their stories to get empowered.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Ada is referred to as the first programmer because she had written notes that explained how the notion of a specific engine could transition calculation to computation. She is one of the famous women in technology and every second Tuesday in October is known as Ada Lovelace Day to celebrate the achievements of women in STEM careers.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/insp1.jpeg" class="testimonial-img" alt="">
                <h3>Ada Lovelace</h3>
                <h4>Programmer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I believe it is incredibly important for women and people of color to become the builders and creators in technology. In order to do so, we need to know how to code or, at least, know the language of coding - what I like to call 'code speak. '
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/insp2.jpg" class="testimonial-img" alt="">
                <h3>Kimberly Bryant</h3>
                <h4>CEO of Black Girls Code</h4>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Reshma Saujani is a New York Times bestselling author and the brains behind the famous TED Talk, “Teach girls bravery, not perfection.” She started the nonprofit, Girls Who Code, aimed at increasing the number of women in the computer science field.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/insp3.jpg" class="testimonial-img" alt="">
                <h3>Reshma Saujani</h3>
                <h4>CEO of Girls Who Code</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  We couldn’t create a list of the top women in tech without including Ellen K. Pao. Pao served as the CEO of Reddit prior to co-founding Project Include – a nonprofit focused on improving diversity in the tech industry. She often speaks publicly on issues like sexism in Silicon Valley.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/insp4.jpg" class="testimonial-img" alt="">
                <h3>Ellen K. Pao</h3>
                <h4>CEO of Project Include</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Boyd studied at Brown, MIT, and Berkeley. She attributes the fact that she survived high school to a misogynistic classmate who once told her that girls couldn’t “do science.” From then on, she was determined to prove him wrong. Today, her work includes countless thought-provoking publications on topics such as accountability in machine learning and media manipulation.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/insp5.jpg" class="testimonial-img" alt="">
                <h3>Danah Boyd</h3>
                <h4>Founder and president of Data & Society</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="flashcards" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Mentors and Mentees Profiles</h2>
          <p>These are profile flashcards of our mentors and mentees, would like to build your network? You can click on each of their flashcards to connect with them </p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Mentors</li>
              <li data-filter=".filter-card">Mentees</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Geetanjali Purohit</h4>
                <p>Mentor</p>
              </div>
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Contact at email: gpurohit74@gmail.com"><i class="bx bx-plus"></i></a>
                <a href="https://www.linkedin.com/in/geetanjali-purohit-she-her-a5a478198/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
 
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/2.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Ishita Gupta</h4>
                <p>Mentor</p>
              </div>
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/2.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Contact at email: ishitagupta2612@gmail.com"><i class="bx bx-plus"></i></a>
                <a href="https://www.linkedin.com/in/ishitagupta2612/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Kady Hill</h4>
                <p>Mentor</p>
              </div>
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Contact at email: kaydycodes@gmail.com"><i class="bx bx-plus"></i></a>
                <a href="static/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/mentee1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jackeline Ferro</h4>
                <p>Mentee</p>
              </div>
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/mentee1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Contact at email: jackelinferro@gmail.com"><i class="bx bx-plus"></i></a>
                <a href="static/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>


          

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/mentee2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Nate Chistian</h4>
                <p>Mentee</p>
              </div>
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/mentee2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Contact at email: naughtynatecrist347@gmail.com"><i class="bx bx-plus"></i></a>
                <a href="static/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets/img/portfolio/mentee3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Naser Ali</h4>
                <p>Mentee</p>
              </div>
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/mentee3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Contact at email: naser4ali@gmail.com"><i class="bx bx-plus"></i></a>
                <a href="static/portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Twilio Section ======= -->
    
    <div id="twilio" class="container-contact100">
      <div class="contact100-map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>
  
      <div class="wrap-contact100">
        <form class="contact100-form validate-form" action="" method="POST" id="regForm">
          <span class="contact100-form-title">
            Twilio Form: Send a message to your mentor or mentee using Twilio
          </span>

          <div class="container-contact100-form-btn">
            <button class="contact100-form-btn">
              <a href="/TwilioForm" style="color: white;"> Send a message using Twilio</a>
            </button>
          </div>
          </form>
        </div>

    </div>
  
  <!--===============================================================================================-->
    <script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
    <script src="static/vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
    <script src="static/vendor/bootstrap/js/popper.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
    <script src="static/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
    <script src="static/vendor/daterangepicker/moment.min.js"></script>
    <script src="static/vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
    <script src="static/vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  
  </script>


<!-- End Twilio Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="FAQ" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>You have got any questions for us? Check out the frequently asked questions? Incase you don't find your answers you can ping us at: connectcause@gmail.com</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is connect and what do we aim for? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Connect is a one stop support for organisations which aim to bridge the gender gap in technology.It provides a platform for easy automated mentorship cycle/connectivity pairing, provides opportunities and connects indivisuals to communities that can inspire them ans support them. 
                  We aim to provide marginalised genders access to opporunities and a right fit community to keep them motivated. We have numerous partner organisations. One of our biggest aims is to enhance connectivity.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How can I get paired or get involved?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  If you are willing to be paired up with an industry expert or are willing to guide someone in their tech jouney scroll further down to fill up the form for a mentor or mentee. If you are a organisation in tech supporting marginalised genders shoot us an email now. Incase you have any opportunties you would like to present or have any ideas or suggestions please email us aswell.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Is this for free? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, this website and all the organisations who we have partnered with are non-profit organisations which are free and have a sole purpose of making the world a better place :)
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">How can this space help you? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  If you are a marginalised gender in tech, seeking a safe community and free access to opportunities or an organisation owner willing to spread good, this is the right place for you
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">How are we different?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  We cater to the problems and support non profit organisations are facing and provide a one stop solution to them aswell as ease connectivity
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Mentor Application Form ======= -->
    <div id="Reg" class="container-contact100">
      <div class="contact100-map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>
  
      <div class="wrap-contact100">
        <form class="contact100-form validate-form" action="" method="POST" id="regForm">
          <span class="contact100-form-title">
            Mentor Application form
          </span>

          <div class="container-contact100-form-btn">
            <button class="contact100-form-btn">
              <a href="/MentorD" style="color: white;"> Apply to be a Mentor</a>
            </button>
          </div>
          </form>
        </div>

        <div class="wrap-contact100">
          <form class="contact100-form validate-form" action="" method="POST" id="regForm">
            <span class="contact100-form-title">
              Mentee Application form
            </span>
    
            <div class="container-contact100-form-btn">
              <button class="contact100-form-btn">
                <a href="/MenteeD" style="color: white;">Apply to be a Mentee</a>
              </button>
      </div>
    </div>

  
  
  <!--===============================================================================================-->
    <script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
    <script src="static/vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
    <script src="static/vendor/bootstrap/js/popper.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
    <script src="static/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
    <script src="static/vendor/daterangepicker/moment.min.js"></script>
    <script src="static/vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
    <script src="static/vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  
  </script>
  
   <!-- End Contact Section -->
   <div class="swiper-slide">
 
<!--===============================================================================================-->
  <script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
  <script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
  <script src="static/vendor/bootstrap/js/popper.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
  <script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
  <script src="static/vendor/daterangepicker/moment.min.js"></script>
  <script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
  <script src="static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->

</script>

  <!-- End Contact Section -->

  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>