<!DOCTYPE html>
<html lang="en">
<head>
	<title>Twilio Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>
<body>


    <div class="container-contact100">
		<div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>
	
		<div class="wrap-contact100">
		  <form class="contact100-form validate-form" action="/TwilioForm" method="post">
			<span class="contact100-form-title">
			  Notify your mentor/mentee for a meetup
			</span>
	
			<div class="wrap-input100 validate-input" data-validate="#">
			  <input class="input100" type="text" name="sid" placeholder=" Twilio SID" id="sid">
			  <span class="focus-input100"></span>
			</div>
			
  
			<div class="wrap-input100 validate-input" data-validate="#">
			  <input class="input100" type="text" name="token" placeholder="Twilio Token" id="token">
			  <span class="focus-input100"></span>
			</div>
  
			<div class="wrap-input100 validate-input" data-validate="#">
			  <input class="input100" type="text" name="wpfrom" placeholder=" Whatsapp No From." id="wpfrom">
			  <span class="focus-input100"></span>
			</div>
  
			<div class="wrap-input100 validate-input" data-validate="#">
			  <input class="input100" type="text" name="wpto" placeholder="Whatsapp No To." id="wpto">
			  <span class="focus-input100"></span>
			</div>
	
		  
			<div class="wrap-input100 validate-input" data-validate = "Enter your Message">
			  <textarea class="input100" name="msg" placeholder="Enter Msg" id="msg"></textarea>
			  <span class="focus-input100"></span>
			</div>
	
			<div class="container-contact100-form-btn">
			  <button onclick="myFunction()" class="contact100-form-btn">
				Send Message
			  </button>
			</div>
		  </form>
	
		</div>
	  </div>
	
	
	
	  <div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->

</body>
</html>
